*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#024059 ;
}
#title{
    text-align: center;
    font-size: 30px;
    color: white;
}
#conteudo{
    background-color:#024059
}

nav{
   background-color: #0378A6;
   
   
   display: flex;
   width: max-content;
   
}
nav>a{
    background-color: #05f2da6b;
padding: 10px;
border: solid 1px rgb(0, 0, 0);
border-radius: 5px;
margin: 3px;
text-decoration: none;
color: rgb(0, 0, 0);
}
nav>a:hover{
    background-color: rgba(19, 212, 2, 0.884);
}

    
    #menu{
        background-color: #0378A6;
    }
    .actived{
        background-color: rgba(14, 172, 0, 0.884);
    }
    #box{
        margin: auto;
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 0.767);
        width: 600px;
        height: 400px;
        border-radius: 10px;
        color: white;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
        
        
    }
    h2>a{
        
        color: rgba(0, 102, 255, 0.774);
        text-decoration: none;
    }
    h2>a:hover{
        color: rgb(0, 102, 255);
    }
    ul{
        padding: 30px;
        
    }